//-------variables----------//

$white: #FFFFFF;
$highlight: #ff9788;
$highlight2: #6b83c0;
$grey_background: #f2f1f8;
$dark_grey: #3f3d4e;

//-------global style-------//
* {
	box-sizing: border-box;
}

body {
	font-family: Helvetica, sans-serif
}

.wrapper {
	width: 1250px;
	max-width: 91%;
	margin: 0 auto;
	overflow: hidden;
}

.button {
	border: none;
	outline: none;
	padding: 0.6rem 3rem;
	font-weight: 700;
	color: $white;
	text-decoration: none;
	text-align: center;
}

.button_highlight {
	background: $highlight;
}

.button_secondary {
	background: $highlight2;
}

.button_small {
	padding: 0.3rem 1.5rem;
}

footer {
	width: 1250px;
	text-align: center;
	font-size: 0.75rem;
	margin: 0 0 0 0;
}

//-------banner style-------//

html {
	height: 100%;
}

body {
	background-image: url(Venice.jpg);
	background-repeat: none;
	background-position: center;
	height: 100%;
}

#menu {
	background-color: rgba(0,0,0,0.5);
	height: 5%;
	position: fixed;
	margin-top: 0;
	header {
		padding: 0.5rem 0;
	}
	#logo {
		color: $white;
		font-weight: 700;
		font-size: 1.3rem;
		float: left;
		margin: 0;
	}
	nav {
		float: right;
		a {
			color: $white;
			font-weight: 700;
			text-decoration: none;
			margin-left: 2rem;
		}
	}
}
//-----------registration style-----------//
#registration {
	height: 100%;
	text-align: center;
	padding: 2rem;
	.body_header {
		color: $white;
		margin: 2rem 20% 3rem 20%;
		font-size: 3.5rem;
		width: 680px;
		border: 2px solid $highlight;
	}
	.form {
		width: 400px;
		overflow: hidden;
		margin: auto;
		color: $white;
		input {
			width: 400px;
			height: 2rem;
			margin-bottom: 10px;
			border: 1px solid silver;
			padding: 10px;
		}
		.p {
			color: $white;
		}
		.button_wrapper {
			padding: 0.5rem 2rem;
			margin: 1rem 0 2rem 0;
		}
	}
}

#listing {
	background-color: rgba(0,0,0,0.4);
	height: 95%;
	text-align: center;
	padding: 2rem;
	margin-left: 4%;
	margin-right: 4%;
	.body_header {
		color: $white;
		margin: 2rem 20% 3rem 20%;
		font-size: 3.5rem;
		width: 600px;
		border: 2px solid $highlight;
	}
	.form {
		color: $white;
		width: 400px;
		overflow: hidden;
		margin: auto;
		input {
			width: 400px;
			height: 2rem;
			margin-bottom: 10px;
			border: 1px solid silver;
			padding: 10px;
		}
		.button_wrapper {
			padding: 0.5rem 2rem;
			margin: 1rem 0 2rem 0;
		}
	}
}

//------listing style-----------//
