* {
  box-sizing: border-box; }

body, html {
  margin: 0;
  font-family: Helvetica, sans-serif; }

.wrapper {
  width: 1250px;
  max-width: 91%;
  margin: 0 auto;
  overflow: hidden; }

.button {
  border: none;
  outline: none;
  padding: 0.6rem 3rem;
  font-weight: 700;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center; }

.button_highlight {
  background: #ff9788;
  transition: all 700ms ease; }

.button_secondary {
  background: #6b83c0; }

.button_small {
  padding: 0.3rem 1.5rem; }

footer {
  width: 1250px;
  text-align: center;
  font-size: 0.75rem;
  margin: 0 0 0 0; }

html {
  height: 100%; }

body {
  background-image: url(Venice.jpg);
  background-repeat: none;
  background-position: center;
  height: 100%; }

#menu {
  background-color: rgba(0, 0, 0, 0.5);
  height: 50px;
  width: 100%;
  position: fixed;
  margin-top: 0; }
  #menu header {
    padding: 0.5rem 0; }
  #menu #logo {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 1.3rem;
    float: left;
    margin: 0; }
  #menu nav {
    float: right;
    height: 50px; }
    #menu nav .nav-item {
      color: #FFFFFF;
      font-weight: 700;
      height: 50px;
      text-decoration: none;
      margin-left: 2rem;
      display: inline-block;
      margin: 0;
      padding: 15px 20px;
      line-height: 5px;
      text-decoration: none;
      transition: background-color 500ms ease; }
    #menu nav .nav-item2 {
      color: #FFFFFF;
      font-weight: 700;
      height: 50px;
      text-decoration: none;
      margin-left: 2rem;
      display: inline-block;
      margin: 0;
      padding: 15px 20px;
      line-height: 5px;
      text-decoration: none;
      transition: background-color 500ms ease; }
    #menu nav .nav-item:hover {
      background-color: #ff9788; }
    #menu nav .nav-item2:hover {
      background-color: #6b83c0; }

#registration {
  height: 100%;
  text-align: center;
  padding: 3rem; }
  #registration .body_header {
    color: #FFFFFF;
    margin: 2rem 20% 3rem 20%;
    font-size: 3.5rem;
    width: 680px;
    border: 2px solid #ff9788; }
  #registration .form {
    width: 400px;
    overflow: hidden;
    margin: auto;
    color: #FFFFFF; }
    #registration .form input {
      width: 400px;
      height: 2rem;
      margin-bottom: 10px;
      border: 1px solid silver;
      padding: 10px; }
    #registration .form .p {
      color: #FFFFFF; }
    #registration .form .button_wrapper {
      padding: 0.5rem 2rem;
      margin: 1rem 0 2rem 0; }
    #registration .form .button_highlight:hover {
      background: #FFFFFF;
      color: #ff9788; }

#listing {
  background-color: rgba(0, 0, 0, 0.4);
  height: 95%;
  text-align: center;
  padding: 2rem;
  margin-left: 4%;
  margin-right: 4%; }
  #listing .body_header {
    color: #FFFFFF;
    margin: 2rem 20% 3rem 20%;
    font-size: 3.5rem;
    width: 600px;
    border: 2px solid #ff9788; }
  #listing .form {
    color: #FFFFFF;
    width: 400px;
    overflow: hidden;
    margin: auto; }
    #listing .form input {
      width: 400px;
      height: 2rem;
      margin-bottom: 10px;
      border: 1px solid silver;
      padding: 10px; }
    #listing .form .button_wrapper {
      padding: 0.5rem 2rem;
      margin: 1rem 0 2rem 0; }
    #listing .form .button_highlight:hover {
      background: #FFFFFF;
      color: #ff9788; }

/*# sourceMappingURL=style3.css.map */
